.project-card {
  position: relative;
  width: 350px;
  height: 580px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.project-image {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.project-info {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 1rem;
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  z-index: 1;
  transition: bottom 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.project-title {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
}

.project-title-white {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: #fcfcfc;
}

.project-description {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #666;
}

.project-card:hover .project-info {
  bottom: 0;
  opacity: 1;
}

.project-card:hover .project-image {
  transform: scale(1.1);
}
