@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Body styling*/
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(0, 0, 0);
}

/*Container styling*/
.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50vh;
  box-shadow: 0 32px 32px -8px rgba(0, 0, 0, 0.5);
}

/* Distortion Styles*/
.distortion {
  position: fixed;
  width: 50vw;
  height: 60vh;
}
@layer base {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(214, 219, 220, 0.3);
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    transition: background 0.3s; /* Add transition for smooth effect */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.7); /* Change background color on hover */
    cursor: pointer;
  }
}
